.App {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: rgba(244, 244, 244, 0); /* Adjust the alpha value for transparency */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sidebar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    background-color: #0056b3;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  #star-system-container {
    flex-grow: 1;
    position: relative;
  }